<div class="footer-container">
                <div class="footer-col-1">
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                    <img src="img/gomocha-logo-sml.png" />
                    <p class="footer-text footer-text-1">About FoodCatch</p>
                    <p class="footer-text">Foodcatch Blog</p>
                    <p class="footer-text">Privacy Policy</p>
                    <p class="footer-text">Terms and Conditions</p>
                    <p class="footer-copyright">©2016 foodcatch, Inc.</p>
                </div>
            </div>